/*
#id <-- ID põhjal
.class <-- klassi põhjal
element <-- elemendi põjal

*/

/*
.YdropdownContent{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.show {display:block;}
*/

table  input{
	margin-left: 5px;
	margin-bottom: 5px;
	width: 30px;
}